.gradle/3.5/file-changes/last-build.bin
.gradle/3.5/fileContent/annotation-processors.bin
.gradle/3.5/fileContent/fileContent.lock
.gradle/3.5/taskHistory/fileHashes.bin
.gradle/3.5/taskHistory/fileSnapshots.bin
.gradle/3.5/taskHistory/jvmClassSignatures.bin
.gradle/3.5/taskHistory/taskHistory.bin
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
*.class
/bin/
/build/

/.gradle/

